@charset "UTF-8";

@import url(reset.css);
@import url(font.css);

body {font-family: "Work Sans", sans-serif;}

.container {max-width: 1120px;margin: 0 auto;}
            /* 최대 1120px 까지만 커져라 */

.btn_view {font-size: 15px; background: #c64932; color: #fff; padding: 9px 21px; display: inline-block;}
.btn_view.bk {background: #000;}

header {height: 80px; display: flex; justify-content: space-between; 
position: absolute; z-index: 10; width: 100%;}  /* z-index: 5; <-- 포지션을 적용 시켰을때만 사용 가능 화면이 겹쳐있어서 안보일때 위로 올려주는 예) 컨트롤+[ 하듯이 순서올려주는것*/

header h1 {width: 350px;  display: flex;justify-content: center;align-items: center;}

header nav {width: 1000px;}
header nav .gnb { display: flex; }
header nav .gnb li { font-size: 18px; position: relative;}
header nav .gnb li a { padding: 28px 2vw; display: block;}

header nav .gnb li .lnb {background: rgba(0,0,0,0.7); position: absolute; width: 100%; height: 0; 
overflow: hidden; transition: 0.4s; backdrop-filter: blur(5px);}
header nav .gnb li .lnb li {text-align: center;}
header nav .gnb li .lnb li a {color: #fff; padding: 0px 0; line-height: 70px;}

header nav .gnb:hover li .lnb {height: 280px;}

header nav .gnb:hover li:hover {background: #c64932}
header nav .gnb:hover li:hover a  {color: #fff;}


header .more {width: 150px; display: flex; justify-content: center; align-items: center; position: relative; z-index: 2;}


header .more::before {content: ''; width: 4px;height: 18px; background: #000; position: absolute;}
header .more::after {content: ''; width: 4px;height: 18px; background: #000; position: absolute; transform: rotate(90deg);}


header .more.on::before {transform: rotate(45deg); height: 30px; background: #fff;}
header .more.on::after {transform: rotate(135deg); height: 30px; background: #fff;}


.brand {position: fixed; width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.8); left: 0;top: 0; display: none;}
.brand p {font-size: 100px; display: flex; justify-content: center; align-items: center; color: #fff; height: 100%;}



.hero {}
.hero .textbox {position: absolute; background: rgba(27,3,0,0.7); z-index: 9; left: 50%; width: 600px; padding: 60px 70px; box-sizing: border-box; margin-left: 140px; top: 50%; margin-top: -195px; display: none;}
.hero .textbox .title {font-size: 55px; color: #fff; letter-spacing: -2px; margin-bottom: 24px;}
.hero .textbox p {font-size: 18px; color: #fff; margin-bottom: 36px; line-height: 2;}



.section_box {}


.section1 {padding: 113px 0;}
.section1 .container {display: flex; justify-content: space-between; align-items: center;}
.section1 .container strong {font-size: 40px; margin-bottom: 50px; display: block;}
.section1 .container p {font-size: 18px;line-height: 2; margin-bottom: 37px;}


.section2 {display: flex;}
.section2 .left {width: 50%; background: url(../images/section2.png); padding: 113px 0; display: flex; justify-content: end; background-size: cover;}
.section2 .left ul {display: flex; flex-direction: column; gap: 96px;}
.section2 .left ul li {position: relative;}
.section2 .left ul li::before {content: ""; position: absolute; width: 17px;height: 1px; background: #fff;left: 0; top: 18px;}


.section2 .left .textbox {width: 560px; color: #fff;}
.section2 .left .textbox strong {font-size: 24px; padding-left: 34px;}
.section2 .left .textbox p {font-size: 14px; margin-top: 19px; padding-left: 34px;}

.section2 .right {width: 50%; background: url(../images/section3.png); background-size: cover;}


.section3 {padding: 113px 0;}
.section3 h2 {font-size: 40px;margin-bottom: 37px; text-align: center;}
.section3 ul {display: flex; justify-content: space-between; }
.section3 ul li {text-align: center;}
.section3 ul li a {}
.section3 ul li a figure {}
.section3 ul li a figure img {}
.section3 ul li a .ex {font-size: 16px;}
.section3 ul li a p {font-size: 18px;}

footer {background: #071215; padding: 90px 0; display: flex; justify-content: center; align-items: center;}



@media screen and (max-width:830px) {
    header {flex-wrap: wrap;}
    header h1 {width: 100%;}
    header .gnb {justify-content: center; background: rgba(198,73,50,0.8);}
    header .gnb a {color: #fff;}
    header .more {position: absolute; height: 30px; right: 20px; top: 10px; width: 50px;}

    .hero {height: 100vh;}
    .hero .swiper {height: 100%;}
}

